.sa-animation.sa-animated {
  opacity: 1;
  transform: none;
}

.sa-animation {
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
}

.sa-animation {
  @for $i from 0 through 50 {
    body[sa-duration='#{$i * 100}'] &,
    &.sa-animation[sa-duration='#{$i * 100}'] {
      transition-duration: #{$i * 100}ms;
    }

    body[sa-delay='#{$i * 100}'] &,
    &.sa-animation[sa-delay='#{$i * 100}'] {
      transition-delay: #{$i * 100}ms;
    }
  }
}
